<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xp.dao.UserDao">

	<sql id="Base_Column_List">
		user_name, description
	</sql>

	<select id="findByName" resultType="User" parameterType="String">
		select
		<include refid="Base_Column_List" />
		from `user`
		where user_name = #{userName}
	</select>

	<insert id="addData">
		INSERT IGNORE INTO  test (data)
		VALUES
		<foreach collection="list" item="item" index="index" open="" close="" separator=",">
			(#{item.playlistId})
		</foreach>
	</insert>

</mapper>
